@charset "UTF-8";

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.header_body,
.header_menu,
.header_social,
.action_header,
.action_header_variants,
.action_main,
.action_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "PointL";
  font-display: swap;
  src: url("../fonts/Point-Light.woff") format("woff"), url("../fonts/Point-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PointR";
  font-display: swap;
  src: url("../fonts/Point-Regular.woff") format("woff"), url("../fonts/Point-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PointB";
  font-display: swap;
  src: url("../fonts/Point-Bold.woff") format("woff"), url("../fonts/Point-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PointEB";
  font-display: swap;
  src: url("../fonts/Point-ExtraBold.woff") format("woff"), url("../fonts/Point-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "PointR";
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  color: #013220;
}

a {
  text-decoration: none;
  color: #013220;
  font-size: 18px;
}

a:hover {
  color: #92ab94;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 26px;
  font-family: "PointB";
  text-transform: uppercase;
}

h3 span {
  text-transform: lowercase;
  border-bottom: 2px solid #013220;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

html.lock {
  overflow: hidden;
}

.form_body {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}

.form_content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: white;
  padding: 70px 110px;
  width: 100%;
  max-width: 740px;
}

.form_content label {
  color: #013220;
  text-transform: uppercase;
  font-size: 26px;
  font-family: "PointB";
}

.form_subtitle {
  color: #013220;
  font-size: 14px;
}

.form_items {
  margin-top: 50px;
  margin-bottom: 20px;
}

.form_items input {
  font-family: "PointR";
  padding: 11px 30px;
  color: #013220;
  font-size: 18px;
  border: none;
  outline: rgba(236, 213, 169, 0.7);
  border: 1.5px solid rgba(159, 198, 235, 0.7);
  border-radius: 30px;
}

.form_items input::-webkit-input-placeholder {
  color: #92AB94;
}

.form_items input::-moz-placeholder {
  color: #92AB94;
}

.form_items input:-ms-input-placeholder {
  color: #92AB94;
}

.form_items input::-ms-input-placeholder {
  color: #92AB94;
}

.form_items input::placeholder {
  color: #92AB94;
}

.form_items button {
  font-family: "PointB";
  border-radius: 30px;
  color: #013220;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  font-size: 14px;
  padding: 14px 74px 13px 73px;
  border: none;
}

.form_items button:hover {
  color: #92AB94;
}

.form_inputs_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_inputs_name,
.form_inputs_tel {
  width: 250px;
}

.form_inputs_time {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form_items_button {
  text-align: right;
}

.form_politice {
  color: #013220;
  font-size: 11px;
}

.form_politice a {
  font-size: 11px;
  text-decoration: underline;
}

.header {
  background: white;
}

.header_body {
  padding: 30px 75px;
}

.header_logo {
  position: relative;
  z-index: 3;
}

.header_list {
  position: relative;
}

.header_list ul {
  position: absolute;
  text-align: left;
  left: -54px;
  top: 100%;
  padding: 85px 54px 30px 54px;
  background-color: white;
  display: none;
  z-index: 2;
}

.header_list ul hr {
  margin: 30px 0;
  height: 1.5px;
  border: none;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
}

.header_list_first:hover .header_link_first {
  color: #92ab94;
}

.header_list_first:hover .header_link_first::after {
  content: url(../img/arrow_bottom_hover.svg);
}

.header_list_first:hover ul {
  display: block;
}

.header_link_first::after {
  content: url(../img/arrow_bottom.svg);
  padding-left: 10px;
}

.header_link_second {
  margin: 0 75px 0 69px;
}

.header_search {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 13px 30px;
  background: white;
  background-clip: padding-box;
  /* !important */
  border: solid 1.5px transparent;
  /* !important */
  border-radius: 30px;
}

.header_search::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  /* !importanté */
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
}

.header_search::after {
  content: "";
  position: absolute;
  top: 1.5px;
  right: 1.5px;
  bottom: 1.5px;
  left: 1.5px;
  border-radius: inherit;
  /* !importanté */
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: white;
}

.header_search input {
  border: none;
  outline: none;
  background: none;
  font-family: "PointR";
  font-size: 18px;
  z-index: 3;
  color: #013220;
  padding-right: 13px;
}

.header_search input::-webkit-input-placeholder {
  color: #92ab94;
}

.header_search input::-moz-placeholder {
  color: #92ab94;
}

.header_search input:-ms-input-placeholder {
  color: #92ab94;
}

.header_search input::-ms-input-placeholder {
  color: #92ab94;
}

.header_search input::placeholder {
  color: #92ab94;
}

.header_search a {
  z-index: 3;
}

.header_search a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu_burger {
  position: relative;
  z-index: 2;
}

.menu_burger {
  position: absolute;
  text-align: left;
  left: -86px;
  top: 100%;
  padding: 85px 90px 50px 86px;
  background-color: white;
  width: 436px;
  display: none;
}

.menu_burger a {
  display: block;
}

.menu_burger hr {
  margin: 30px 0;
  height: 1.5px;
  border: none;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
}

.menu_burger_active {
  display: block;
}

.menu_burger_link {
  margin-bottom: 10px;
}

.header_social {
  margin: 44px 0;
}

.header_connection a:first-child {
  margin-bottom: 10px;
}

.header_burger_desktop {
  display: block;
  position: relative;
  width: 40px;
  height: 16px;
  cursor: pointer;
  z-index: 2;
}

.header_burger_desktop::before,
.header_burger_desktop::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #013220;
}

.header_burger_desktop::before {
  top: 0;
}

.header_burger_desktop::after {
  bottom: 0;
}

.header_burger_desktop span {
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #013220;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_burger_desktop_active::before,
.header_burger_desktop_active::after,
.header_burger_desktop_active span {
  background: #92ab94;
}

.header_tel {
  position: relative;
}

.header_tel_menu {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: -150px;
  top: 100%;
  padding: 85px 54px 35px 76px;
  background-color: white;
  width: 370px;
  display: none;
}

.header_tel_menu a {
  font-family: "PointB";
  width: 220px;
  font-size: 14px;
  padding: 14px 0 13px 0;
  display: block;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  border-radius: 30px;
}

.header_tel_menu a:first-child {
  margin-bottom: 40px;
}

.header_tel_menu a:hover {
  color: #013220;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
}

.header_tel_menu a:focus {
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  color: #92ab94;
}

.header_tel_link {
  cursor: pointer;
  padding-top: 3px;
}

.header_tel:hover .header_tel_menu {
  display: block;
}

.header_tel:hover .header_tel_link {
  color: #92ab94;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #013220;
}

.swiper-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: -o-linear-gradient(351.56deg, rgba(1, 50, 32, 0.92) 0%, rgba(1, 23, 16, 0.92) 100%);
  background: linear-gradient(98.44deg, rgba(1, 50, 32, 0.92) 0%, rgba(1, 23, 16, 0.92) 100%);
}

.header_title {
  position: relative;
  padding: 95px 0;
  text-align: center;
}

.header_title::before {
  content: url(../img/logo_bg.png);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.action {
  background: white;
  padding-bottom: 130px;
}

.action_header {
  padding: 0 75px;
  padding-top: 130px;
  padding-bottom: 92px;
}

.action_header_variants a:active {
  color: #013220;
}

.action_header_filters a {
  position: relative;
}

.action_header_filters a::after {
  content: url(../img/arrow_bottom.svg);
  padding-left: 5px;
}

.action_header_filters a:hover::after {
  content: url(../img/arrow_bottom_hover.svg);
}

.action_header_variants_list {
  margin-left: 195px;
  margin-right: 55px;
}

.action_header_variants_card {
  color: #92ab94;
}

.action_header_variants_card:hover {
  color: #013220;
}

.action_main {
  padding: 0 75px 92px 75px;
  padding-left: 180px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action_title {
  font-size: 20px;
  font-family: "PointB";
  margin: 35px 0 20px 0;
  text-transform: uppercase;
}

.action_subtitle {
  font-size: 14px;
  color: #92ab94;
}

.action_img {
  position: relative;
}

.action_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.action_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.action_img:hover::before,
.action_img:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.action_img:hover .action_items {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.action_img:hover + .action_title {
  color: #92ab94;
}

.action_img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action_items {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 60px 65px 56px 56px;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.action_content {
  margin: 45px 0 54px 0;
  font-family: "PointL";
}

.action_items_title {
  line-height: 24px;
}

.action_content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action_content_block:nth-child(2) {
  margin: 30px 0;
}

.action_content_block span {
  position: relative;
  display: block;
}

.action_content_block span::before {
  content: url(../img/metro.svg);
  padding-right: 10px;
}

.action_content_adress {
  margin-right: 65px;
}

.action_content_area {
  margin-right: 45px;
}

.action_content_coast {
  margin-right: 32px;
}

.action_tag a {
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 30px;
  border: solid 1.5px rgba(159, 198, 235, 0.7);
  /* !important */
  position: relative;
}

.action_all_action {
  margin-top: 45px;
  text-align: center;
}

.action_all_action a {
  font-family: "PointB";
  display: block;
  padding: 22px 0;
  border-top: 1.5px solid rgba(146, 171, 148, 0.2);
  border-bottom: 1.5px solid rgba(146, 171, 148, 0.2);
  font-size: 14px;
  text-transform: uppercase;
}

.action_button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 23px 0;
  font-size: 14px;
  font-family: "PointB";
  margin-left: 180px;
  margin-right: 75px;
  border-top: 1.5px solid rgba(146, 171, 148, 0.2);
  border-bottom: 1.5px solid rgba(146, 171, 148, 0.2);
}

.swiper-container.slider2 {
  overflow: visible;
}

.slider2 .swiper-slide {
  position: relative;
  height: 500px;
}

.slider2 .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider2 .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider2 .swiper-slide-active.swiper-slide {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
}

.slider2 .swiper-slide-active.swiper-slide::after {
  content: none;
}

.house {
  margin-top: 150px;
  margin-bottom: 231px;
  position: relative;
}

.house::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 60%;
  background: white;
  height: 727px;
  z-index: -1;
}

.house_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 75px 0 183px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.house_block {
  max-width: 503px;
}

.house_title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "PointB";
}

.house_description {
  color: #92ab94;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.house_text {
  font-size: 14px;
  line-height: 25px;
}

.house_button {
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

.house_button a {
  font-size: 14px;
  font-family: "PointB";
  padding: 22px 0 23px 0;
  display: block;
  border-top: 1.5px solid rgba(146, 171, 148, 0.2);
  border-bottom: 1.5px solid rgba(146, 171, 148, 0.2);
}

.house_slider {
  max-width: 974px;
}

.desirable_main {
  padding-left: 75px;
}

.desirable_button {
  margin-left: 75px;
}

.victor {
  margin: 150px 0;
  position: relative;
}

.victor::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 57%;
  height: 100%;
  background: white;
  z-index: -1;
}

.vicot_content {
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.victor_market {
  max-width: 347px;
}

.victor_market_title {
  font-size: 32px;
  line-height: 40px;
}

.victor_market_subtitle {
  text-transform: uppercase;
  font-family: "PointB";
  font-size: 34px;
  line-height: 48px;
  margin-top: 45px;
}

.victor_img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.victor_about {
  max-width: 886px;
  margin-top: 75px;
}

.victor_about_text {
  margin-top: 80px;
  font-size: 20px;
  font-family: "PointB";
  line-height: 32px;
  text-transform: uppercase;
}

.victor_about_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.victor_about_title {
  font-size: 20px;
  font-family: "PointB";
}

.victor_about_description {
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
}

.victor_about_link a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "PointB";
  position: relative;
  padding-right: 90px;
}

.victor_about_link a::after {
  content: url(../img/tg_big.svg);
  position: absolute;
  padding-left: 20px;
  top: -25px;
}

.victor_about_link a:hover::after {
  content: url(../img/tg_big_hover.svg);
}

.deals {
  padding: 120px 0 121px 0;
  background: white;
}

.deals_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deals_tile {
  text-transform: uppercase;
  font-size: 26px;
  font-family: "PointB";
}

.deals_subtitle {
  font-size: 14px;
  margin-top: 10px;
}

.deals_button {
  margin-left: 150px;
}

.deals_button a {
  text-transform: uppercase;
  font-family: "PointB";
  font-size: 14px;
  padding: 13px 73px 13px 72px;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  border-radius: 30px;
}

.slider4 .swiper-wrapper {
  margin-left: 180px;
}

.slider4 .swiper-slide {
  position: relative;
}

.slider4 .swiper-slide img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0;
  padding: 0;
}

.slider4 .swiper-slide-next .slider_block {
  position: relative;
}

.slider4 .swiper-slide-next .slider_block::before {
  content: "";
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
}

.slider_content {
  position: absolute;
  top: 38px;
  right: 250px;
  background: white;
  max-width: 515px;
  padding: 60px 70px 56px 56px;
}

.services {
  margin-top: 150px;
  padding: 0 0 226px 0;
  background: white;
}

.services_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 75px;
}

.services_header_block {
  position: relative;
  text-align: center;
  margin-right: 57px;
  width: 100%;
  max-width: 400px;
}

.services_header_block:last-child {
  margin-right: 0;
}

.services_header_block a {
  font-family: "PointB";
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  text-transform: uppercase;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.15) 0%, rgba(236, 213, 169, 0.15) 100%);
  border-radius: 100px;
  display: block;
}

.services_header_block a:hover + .services_header_text {
  opacity: 1;
}

.services_header_text {
  text-align: left;
  width: 100%;
  max-width: 456px;
  color: #92ab94;
  line-height: 24px;
  background: white;
  position: absolute;
  font-size: 18px;
  padding: 40px 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.service_main {
  padding: 0 75px;
  padding-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.slider5 {
  max-width: 870px;
}

.slider5 .swiper-wrapper {
  height: 560px;
}

.slider5 img {
  height: 386px;
}

.slider5 .swiper-pagination-slider5 {
  position: relative;
}

.serivce_slider_block {
  margin-top: 27px;
  padding-left: 50px;
}

.serivce_slider_block div:first-child {
  font-family: "PointB";
  margin-bottom: 10px;
}

.service_form {
  margin-left: 110px;
}

.service_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_form label {
  display: block;
  font-size: 26px;
  font-family: "PointB";
  color: #013220;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.service_form input {
  font-family: "PointR";
  padding: 11px 30px;
  color: #013220;
  font-size: 18px;
  border: none;
  outline: rgba(236, 213, 169, 0.7);
  border: 1.5px solid rgba(159, 198, 235, 0.7);
  border-radius: 30px;
  max-width: 250px;
  margin-right: 20px;
}

.service_form input::-webkit-input-placeholder {
  color: #92ab94;
}

.service_form input::-moz-placeholder {
  color: #92ab94;
}

.service_form input:-ms-input-placeholder {
  color: #92ab94;
}

.service_form input::-ms-input-placeholder {
  color: #92ab94;
}

.service_form input::placeholder {
  color: #92ab94;
}

.service_form button {
  font-size: 14px;
  font-family: "PointB";
  color: #013220;
  text-transform: uppercase;
  padding: 13px 57px 12px 57px;
  border: none;
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.5) 0%, rgba(236, 213, 169, 0.5) 100%);
  border-radius: 30px;
}

.service_form button:hover {
  color: #92ab94;
}

.service_form_politice {
  margin-top: 30px;
  font-size: 12px;
  max-width: 550px;
}

.service_form_politice a {
  font-size: 12px;
  text-decoration: underline;
}

.footer {
  background: -o-linear-gradient(351.56deg, rgba(1, 50, 32, 0.92) 0%, rgba(1, 23, 16, 0.92) 100%);
  background: linear-gradient(98.44deg, rgba(1, 50, 32, 0.92) 0%, rgba(1, 23, 16, 0.92) 100%);
  padding: 82px 0px 40px 0px;
}

.footer hr {
  opacity: 0.2;
  border: none;
  border-top: 1.5px solid #92AB94;
  margin-top: 90px;
  margin-bottom: 43px;
}

.footer_main {
  padding: 0 75px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_main a {
  color: white;
  font-size: 14px;
  line-height: 21px;
  display: block;
}

.footer_main a:focus {
  color: #92AB94;
}

.footer_main img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_main_logo {
  max-width: 287px;
}

.footer_main_logo img {
  margin-bottom: 45px;
}

.footer_main_logo a {
  text-transform: initial;
}

.footer_main_logo a:nth-child(3) {
  margin: 15px 0;
}

.footer_main_page a,
.footer_main_company a {
  margin-bottom: 15px;
}

.footer_main_page a:first-child,
.footer_main_company a:first-child {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "PointEB";
}

.footer_main_page a:last-child,
.footer_main_company a:last-child {
  margin-bottom: 0;
}

.footer_main_questions {
  max-width: 272px;
}

.footer_main_questions a {
  padding: 14px 42px 13px 42px;
  text-transform: uppercase;
  background: white;
  font-family: "PointB";
  color: #013220;
  border-radius: 30px;
  display: inline-block;
}

.footer_main_questions a:hover {
  background: -o-linear-gradient(351.56deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
  background: linear-gradient(98.44deg, rgba(159, 198, 235, 0.7) 0%, rgba(236, 213, 169, 0.7) 100%);
}

.footer_main_questions_title {
  text-transform: uppercase;
  font-family: "PointEB";
}

.footer_main_questions_description {
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer_main_links a {
  margin-bottom: 31px;
  position: relative;
}

.footer_main_links a:last-child {
  margin-bottom: 0;
}

.footer_main_links a::before {
  content: url(../img/tg_footer.svg);
  position: absolute;
  left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_main_links a:nth-child(2)::before {
  content: url(../img/club_footer.svg);
}

.footer_main_links a:nth-child(3)::before {
  content: url(../img/inst_footer.svg);
}

.footer_main_links a:nth-child(4)::before {
  content: url(../img/fb_footer.svg);
}

.footer_main_links a:nth-child(5)::before {
  content: url(../img/youtube_footer.svg);
}

.footer_politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #92AB94;
  font-size: 14px;
  padding: 0 75px;
}

.footer_politic_copy {
  max-width: 404px;
}

.footer_politic_copy div:first-child {
  color: white;
  margin-bottom: 10px;
}

.footer_politic_copy div:last-child {
  font-size: 12px;
}

.footer_politic_links a {
  text-decoration: underline;
  font-size: 14px;
  color: #92AB94;
  display: block;
}

.footer_politic_links a:last-child {
  color: white;
  margin-top: 19px;
}

.footer_politic_links a:focus {
  color: #92AB94;
}

.footer_politic_personal {
  max-width: 530px;
  font-size: 12px;
  line-height: 19px;
}

@media (max-width: 1919px) {
  .header_search input {
    max-width: 130px;
  }

  .container {
    overflow-x: visible;
  }

  .header_title::before {
    left: -50px;
  }

  .action_block:last-child {
    display: none;
  }

  .house_slider {
    max-width: 565px;
    height: 726px;
  }

  .house_slider img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }

  .victor_market_title {
    font-size: 28px;
  }

  .victor_market_subtitle {
    font-size: 30px;
    line-height: 42px;
    margin-top: 40px;
    width: 306px;
  }

  .victor_about {
    max-width: 575px;
    margin-top: 50px;
  }

  .victor_about_title {
    font-size: 18px;
  }

  .victor_about_description {
    font-size: 16px;
  }

  .victor_about_link a {
    padding-right: 100px;
  }

  .victor_about_link a::after {
    padding-left: 80px;
  }

  .victor_about_text {
    margin-top: 66px;
    font-size: 18px;
    line-height: 25px;
  }

  .service_form {
    max-width: 620px;
    margin-left: 110px;
  }

  .service_form label {
    font-size: 24px;
  }

  .service_form input {
    max-width: 200px;
    margin-right: 10px;
    font-size: 16px;
  }

  .service_form button {
    padding: 13px 47px 12px 47px;
  }

  .service_form_politice {
    max-width: 100%;
  }

  .slider5 {
    max-width: 870px;
  }

  .slider5 .swiper-wrapper {
    height: 460px;
  }

  .slider5 .swiper-slide {
    width: 600px;
  }

  .slider5 img {
    height: 320px;
  }

  .slider5 .swiper-pagination-slider5 {
    position: relative;
  }

  .serivce_slider_block {
    padding-left: 10px;
  }
}